@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
#container{
  background-color: rgb(241, 234, 234);
  margin: 20px;
  padding: 20px; 
  height: 100px;
} 

#btn, #btn2{
  margin:  0px 20px;
  padding:  20px;
  background-color: rgb(161, 81, 81);
  color: #fff;
  float: right;
}