/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(14, 170, 27);
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
}
/* Extra Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 480px) {
  body {
    background-color: rgb(24, 6, 104);
    color: red;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(24, 6, 104);
    color: red;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .imageContainer,
  .container .content {
    flex: 1 1 200px;
    padding: 20px;
  }
  .container .content .heading {
    display: block;
    margin: 20px 0px;
    color: #fff;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: #000;
    color: #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: rgb(184, 202, 19);
    color: #000;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(60, 170, 221);
    color: #000;
  }
}

/* Extra advance */

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 678px) {
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 678px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  /* body {
    background-color: rgb(82, 126, 184);
    color: violet;
  } */
}
