*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #000;
  color: #fff;
}


.test-class .parent> h1, .test-class .parent> p{
  color: red;
}

/*
  Margin Padding
*/
.mp{
  width: 600px;
  height: 500px;
  background-color: #ff0;
  margin: 20px;
  padding: 30px;
   border: 50px solid #f00;
}
 .mp .child{
  width: 300px;
  height: 300px;
  background-color: rgb(168, 72, 72);
  margin: 10px;
  padding: 20px 10px;
  border: 5px solid #f00;
 }