* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .item {
  background-color: rgb(20, 202, 29); 
  font-size: 30px;
  color: red;
  padding: 20px;
}


/* 
.container {
  display: flex;
  flex-wrap: wrap;
}
.one {
  flex-basis: 150px;
  flex-shrink: 1;
  flex-grow: 1;
}
.two {
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
}
.seven {
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
}
.five {
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
} */
