@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");

$fontFira: "Fira Code", monospace;
$fontRobot: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./assets/partials/contactPage";
@import "./assets/partials/responsive";


//about section-starting 
.about-section{
  padding: 20px 0px;
  .about-me{
    display: grid;
    grid-template-columns: repeat(2,auto);
    .about-piture{
      img{
        width: 250px; 
        animation: about-picture 4s ease-in-out infinite;
        clip-path:polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        @keyframes about-picture {
          25%{clip-path: circle(50% at 50% 50%);}
          50%{clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);}
          75%{clip-path: polygon(50% 0%, 80% 10%, 97% 35%, 97% 69%, 80% 90%, 50% 100%, 20% 90%, 4% 71%, 3% 35%, 20% 10%);}
          100%{clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);}
        }
      }

    }
    .about-content{
      .about-text{
        height: 202px;
        overflow-y: auto;
        box-shadow: 3px 1px 3px #dee2e6;
        border-top: 1px solid #dee2e6;
      }
    }
  }
}

//about section-ending

//portfolio section starts here
.portfolio-section {
  padding: 30px;
  color: black;
  font-family: $fontRobot;
  .portfolio-heading {
    h2,
    p {
      text-align: center;
    }
    p {
      font-size: 20px;
    }
  }
  .portfolio {
    padding-top: 20px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    @include mediaQuery(992px, 1200px) {
      grid-template-columns: repeat(3,300px);
    }
    @include mediaQuery(768px, 992px) {
      grid-template-columns: repeat(2, 360px);
    }
    @include mediaQuery(600px, 768px) {
      grid-template-columns: repeat(1, 500px);
    }
    @include mediaQuery(290px, 600px) {
      grid-template-columns: auto;
    }
    .portfolio-item {
      div {
        background-image: url(../images/ac8.jpeg);
        background-position: top;
        width: 360px;
        height: 280px;
        transition: 1s;
        border: 1px solid black;
        &:hover {
          background-position: bottom;
        }
        @include mediaQuery(992px, 1200px) {
          width: 300px;
          height: 250px;
        }
        @include mediaQuery(600px, 768px) {
          width: 500px;
          height: 280px;
        }
      }
      h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px ;
      }
    }
  }
}
//portfolio section-ending

.slider-section {
  .slider {
    #carouselExampleCaptions {
      .carousel-inner {
        .carousel-item {
          img {
            width: 100%;
            height: 500px;
          }
        }
      }
    }
  }
}

//blog section-starting

.blog-section {
  .blogSection-heading {
    font-size: 40px;
    color: #000;
    padding: 30px;
    text-align: center;
    /*  left: 500px;
        margin-top: 50px;
        margin-bottom: 30px;*/
  }
  .blog {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    .blog-item {
      background-color: rgb(201, 199, 199);
      text-align: center;
      height: 400px;
      margin: 20px;
      box-shadow: rgb(146, 146, 146) 3px 3px 3px 3px;
      display: grid;
      grid-template-rows: repeat(4,auto) ;
      grid-template-columns:repeat(3,auto);
      img , h1 , article{
        grid-column: 1/span 3;
      }
      img{
        width: 100%;
        height: 190px;
      }
      h1{
        font-size: 30px;
        color: #0FA5CE;
      }
      article{
        height: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .b-button {
        background-color: #26b0d6;
        padding: 3px 15px;
        margin-bottom: 5px;
        font-size: 14px;
        border-radius: 100px;
        position: relative;
        grid-column: 2/span 1 ;
        // right: 160px;
        // bottom: 170px;
    
        &:hover {
          background-color:#ededf5 ;
          color: #000 ;
        }
      }
    }
  }

  
  @include mediaQuery(600px , 728px) {
    .blog {
      grid-template-columns: auto;

      .blog-item {
        height: 450px;
        box-shadow: rgb(63, 63, 63) 0px 0px 0px 0px;
        // border-radius: 0px;
        margin: 0px;
        img{
          height: 250px;
        }
        .b-button{
          padding: 3px 25px;
        }

      }
    }
  }
  @include mediaQuery(320px, 600px) {
    .blog {
      grid-template-columns: auto;

      .blog-item {
        box-shadow: rgb(63, 63, 63) 0px 0px 0px 0px;
        // border-radius: 0px;
        margin: 0px;
      }
    }
  }
}
//blog section-ending

//contact button-starting
.contact-link{
  .contact{
    position: relative;
    button{
      width: 180px;
      height: 50px;border-radius: 10px;
      cursor: pointer;
      position: absolute;
      right: 10px;top: -25px;
      background-color: #fff;

      a{
        font-weight: bold;
        font-family: $fontRobot;
        font-size: larger;
        text-decoration: none;
        padding: 15px 32px;
        color: #000;
        &:visited{
          color: #000;
        }
        &:hover{
          color:#f89d36;
        }
      }
      // &:hover{
      // background-color: #0FA5CE ;
      // }
    }
  }
}
//contact button-ending

/**
Services section
*/
.service-container {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .icon {
  margin-top: 5%;
  font-size: 38px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 {
  height: 70px;
  width: 70px;
  line-height: 80px;
  border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
  border-color: #f89d36 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 i {
  font-size: 30px;
}

.service-container .number-icon .number {
  position: absolute;
  top: 0;
  right: 70px;
  left: 0;
  height: 35px;
  width: 35px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .number span {
  line-height: 30px;
}

.service-container .content .number {
  font-size: 40px;
  color: #dee2e6;
}

.service-container .content .title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container.hover-bg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container.hover-bg .smooth-icon {
  position: absolute;
  bottom: -40px;
  right: -20px;
  font-size: 60px;
  color: #f8f9fa;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.service-container.hover-bg:hover {
  background-color: #f89d36;
}

.service-container.hover-bg:hover .content .title {
  color: #ffffff !important;
}

.service-container.hover-bg:hover .content .serv-pera {
  color: #fafafb !important;
}

.service-container.hover-bg:hover .smooth-icon {
  font-size: 100px;
  opacity: 0.2;
  bottom: -20px;
  right: 10px;
}

.service-container:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
}

.service-container:hover .icon {
  color: #f89d36;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.service-container:hover .number-icon .icon-2 {
  background-color: #f89d36;
  border-radius: 50% !important;
}

.service-container:hover .number-icon .icon-2 i {
  color: #ffffff !important;
}

.service-container:hover .number-icon .number {
  color: #ffffff;
  background: #f89d36 !important;
  border-color: #ffffff !important;
}

.service-container:hover .content .title {
  color: #f89d36;
}

.service-container a:hover,
.service-container a .title:hover {
  color: #f89d36 !important;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.service-wrapper {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper .icon {
  width: 60px;
  height: 60px;
  line-height: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper .content .title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
}

.service-wrapper .big-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper:hover {
  -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  background: #ffffff;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  border-color: transparent !important;
}

.service-wrapper:hover .icon {
  background: #0062ff !important;
  color: #ffffff !important;
}

.service-wrapper:hover .big-icon {
  z-index: -1;
  opacity: 0.1;
  font-size: 160px;
}

.text-custom {
  color: #0062ff !important;
}

.uim-svg {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
  font-size: inherit;
  fill: var(--uim-color, currentColor);
}
