.single-blog{
    display: grid;
    grid-template-columns: 100px auto 100px;
    .blog-post{
        grid-column: 2/span 1;
        display: grid;
        .blog-image{
           div{
               padding: 5px;
            a{
                text-decoration: none;
                color: #000;
            }
            .blog-date{
                padding-right: 10px;
            }
           }
            img{
                width: 100%;
                height: 500px;
                @include mediaQuery( 320px , 1200px){height: auto;}
            }
        }
        article{
            h1{padding:15px 0px;}
        }
    }
}