@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-section {
  padding: 30px;
  color: black;
  font-family: "Fira Code", monospace;
}

.portfolio-section .portfolio-heading h2,
.portfolio-section .portfolio-heading p {
  text-align: center;
}

.portfolio-section .portfolio-heading p {
  font-size: 20px;
}

.portfolio-section .portfolio {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .portfolio-section .portfolio {
    -ms-grid-columns: (150px)[3];
        grid-template-columns: repeat(3, 150px);
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .portfolio-section .portfolio {
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
    grid-gap: 100px;
  }
}

@media only screen and (min-width: 290px) and (max-width: 600px) {
  .portfolio-section .portfolio {
    -ms-grid-columns: 450px;
        grid-template-columns: 450px;
  }
}

.portfolio-section .portfolio .portfolio-item div {
  background-image: url(../images/A-Z.jpg);
  background-position: top;
  width: 200px;
  height: 200px;
  -webkit-transition: 2.5s;
  transition: 2.5s;
  border: 1px solid black;
}

.portfolio-section .portfolio .portfolio-item div:hover {
  background-position: bottom;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .portfolio-section .portfolio .portfolio-item div {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (min-width: 290px) and (max-width: 600px) {
  .portfolio-section .portfolio .portfolio-item div {
    width: 450px;
    height: 200px;
  }
}

.portfolio-section .portfolio .portfolio-item h2 {
  font-size: 20px;
  text-align: center;
}
