@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-section .slider #carouselExampleCaptions .carousel-inner .carousel-item img {
  width: 100%;
  height: 500px;
}
